fastapi
uvicorn
sqlalchemy
asyncpg  # Or psycopg2-binary if you're using a synchronous PostgreSQL driver
sqlmodel  # Optional: include if you are using SQLModel ORM
psycopg2-binary
boto3
nanoid
python-multipart
pydantic
boto3
snaptrade-python-sdk
httpx